Title: TestCentric Runner Version 1
Description: TestCentric Runner is a GUI test runner aimed at eventually supporting a range of .NET testing frameworks. As of the current 1.4.0 release, it supports NUnit tests.
Order: 1
ShowInNavigation: false
---

<div class="notice">
    Legacy version 1 Documentation. <a href="/testcentric-runner/">View current Version 2 Documentation.</a>
</div>

@foreach(IDocument child in Model.GetChildren().OrderBy(x => x.Get<int>(Keys.Order, 1000)))
{
    <h2>@(child.GetString(Keys.Title))</h2>
    if(child.ContainsKey("Description"))
    {
        <p>@Html.Raw(child.GetString("Description"))</p> 
    }

    @Html.Partial("_ChildPages", child)
}
